.App {
  padding-top: 6.5rem;
  margin: auto;
  background-color: $accent;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1400px;
  padding: 0 2em;
  margin: auto;
}
.main {
  flex: 1;
}

.error-msg {
  color: $red;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: $margin-large;
}
