.App {
  padding: 0 1em;
}
$accent: green;

.table-saskaitos {
  width: 100%;
  max-width: fit-content;
  margin: 2em 0;
  border-collapse: collapse;
  th,
  td {
    padding: 0.3em 1em;
    text-align: left;
    border-bottom: 1px solid $accent;
  }
}
